/* Estilo Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('fondo.png');
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    flex-direction: column;
  }
  
  .container {
    width: 90%;
    max-width: 800px;
    margin-top: 25px;
  }
  
  /* Título con desenfoque gaussiano */
  .blur-title {
    font-size: 3rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: white;
  }
  
  .blur-title:hover {
    font-size: 3.2rem; /* Aumenta el tamaño del texto en un 20% */
    text-shadow: 0 0 10px #fff, /* Agrega sombreado blanco con efecto de blur */
                0 0 5px rgba(0, 0, 0, 0.2); /* Agrega sombreado gris para contraste */
  }
  
  /* Contenedor del video */
  .video-container {
    margin-bottom: 20px;
  }
  
  iframe {
    width: 100%;
    height: 315px;
    max-width: 560px;
  }
  
  /* Botón animado */
  .animated-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    background-color: #f8f8f875;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .animated-button:hover {
    background-color: #ffba3b;
    transform: scale(1.1);
  }
  
.contalogo{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
}


.animated-button_paypal {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  background-color: #0329ff75;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.animated-button_paypal:hover {
  background-color: #1100ff;
  transform: scale(1.1);
}